@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;

.view-wrapper {
  max-width: $view-width;
  padding: 5rem;
  width: 100%;
  box-sizing: border-box;
  margin: auto;

  @include tablet {
    padding: 3rem;
  }

  @include mobile {
    padding: 1rem;
  }
}
