@use "@theme/colors.module.scss" as *;

.typography {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins" !important;

  img {
    height: auto;
    width: auto;
    margin-left: 0.4rem;
  }

  svg {
    margin-left: 0.4rem;
  }
}

.p1 {
  font-size: 1.5rem;
  line-height: 33.6px;
}

.p2 {
  font-size: 1.15rem;
  line-height: 25.4px;
}

.p3 {
  font-size: 1rem;
  line-height: 19.6px;
}

.caption {
  font-size: 0.75rem;
  line-height: 16.8px;
}

.mini {
  font-size: 0.625rem;
  line-height: 14.4px;
}

.h1 {
  font-size: 2.5rem;
  line-height: 48px;
}

.h2 {
  font-size: 2rem;
  line-height: 40px;
}

.h3 {
  font-size: 1.5rem;
  line-height: 32px;
}

.h4 {
  font-size: 1rem;
  line-height: 24px;
}

.d1 {
  font-size: 6rem;
  line-height: 120px;
}

.d2 {
  font-size: 4.5rem;
  line-height: 96px;
}

.d3 {
  font-size: 4rem;
  line-height: 80px;
}

.d4 {
  font-size: 3rem;
  line-height: 64px;
}

.d5 {
  font-size: 3.5rem;
  line-height: 64px;
}

.light {
  font-weight: 400;
}

.regular {
  font-weight: 500;
}

.semiboldItalic {
  font-weight: 600;
  font-style: italic;
}

.semibold {
  font-weight: 600;
}

.black {
  font-weight: 700;
}

h1.typography,
h2.typography,
h3.typography,
h4.typography,
h5.typography,
h6.typography,
p.typography {
  margin: 0;
  background-clip: text;
}
