@use "@theme/colors.module.scss" as *;
@use "@theme/viewport.scss" as *;
@use "@theme/common.module.scss" as *;
@use "@theme/gradient.module.scss" as *;

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10050;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.801);
  @include flex-model-nogap(row, center, center);

  .close-icon {
    align-self: flex-start;
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;

    > svg {
      width: 30px;
      height: 30px;
      fill: white !important;

      > path {
        fill: white;
      }
    }
  }

  > div {
    animation: fadein 0.7s ease;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
